/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


/* Add your custom styles here... */

.product-detail-layout-6 .toggle-image-thumbnails{
    position: static!important;
}
.product-detail-layout-6 div.button-wrapper>a.button, .product-detail-layout-6 div.button-wrapper .dual-button>a.button{
    display: flex;
}
.storename , .store-opening-hrs{
	list-style: none!important;
    padding-left: 0px!important;
    margin: 0px;
} 


.storename li .phone a span:before{
    content: "\f095";
    font: normal normal normal 18px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px;
}
.dir_btn a span{
    color: #fff!important;
}
.opening-hrs li {
    position: relative!important;
}
.opening-hrs li span {
    position: absolute!important;
    left: 300px!important;
}
.fl-social-icons .social-icons{
    display: flex!important;
    flex-direction: row!important;
    margin-top: 10px!important;
    justify-content: center!important;
}
.fl-social-icons .social-icons a i{
    color: #fff!important;
}



/* Content width box 970 */

.max-970 {
    max-width: 970px;
    margin: 0 auto;
}

.max-1200 {
    max-width: 1200px;
    margin: 0 auto;
}

a:focus,
button:focus {
    outline: none !important;
}

a.fl-button {
    border-radius: 0 !important;
    color: #fff !important;
    text-transform: uppercase;
}

a.fl-button,
a.fl-button:visited,
.fl-builder-content a.fl-button {
    background-color: #bca648!important;
    color: #ffffff !important;
    border: 1px solid #bca648!important;
}

a.fl-button:hover,
.fl-builder-content a.fl-button:hover {
    background: #a8933f !important;
    border: 1px solid #a8933f!important;
}

.fl-button-text {
    color: #fff !important;
}

.button-wrapper a.button.contact-btn {
    width: auto;
    display: inline;
    border: 1px solid;
}

.btn-grey a.fl-button,
.btn-grey a.fl-button:visited,
.btn-grey .fl-builder-content a.fl-button {
    background: #908C7B !important;
    color: #ffffff !important;
    border: 1px solid #908C7B!important;
}

.btn-grey a.fl-button:hover,
.btn-grey .fl-builder-content a.fl-button:hover {
    background: rgba(144, 140, 123, 0.90) !important;
    border: 1px solid rgba(144, 140, 123, 0.90)!important;
}

.btn-white a.fl-button,
.btn-white a.fl-button:visited,
.btn-white .fl-builder-content a.fl-button {
    background: #fff !important;
    color: #554E46 !important;
    border: 1px solid #554E46!important;
}

.btn-white a.fl-button:hover,
.btn-white .fl-builder-content a.fl-button:hover {
    background: rgba(85, 78, 70, 0.10) !important;
    border: 1px solid rgba(85, 78, 70, 0.10) !important;
}

.btn-white .fl-button-text {
    color: #554E46 !important
}

.btn-ltblue a.fl-button,
.btn-ltblue a.fl-button:visited,
.btn-ltblue .fl-builder-content a.fl-button {
    background: #84A3B8 !important;
    color: #ffffff !important;
    border: 1px solid #84A3B8!important;
}

.btn-ltblue a.fl-button:hover,
.btn-ltblue .fl-builder-content a.fl-button:hover {
    background: rgba(132, 163, 184, 0.90) !important;
    border: 1px solid rgba(132, 163, 184, 0.90)!important;
}

.btn-blue a.fl-button,
.btn-blue a.fl-button:visited,
.btn-blue .fl-builder-content a.fl-button {
    background: #263850 !important;
    color: #ffffff !important;
    border: 1px solid #263850 !important;
}

.btn-blue a.fl-button:hover,
.btn-blue .fl-builder-content a.fl-button:hover {
    background: rgba(38, 56, 80, 0.90) !important;
    border: 1px solid rgba(38, 56, 80, 0.90)!important;
}

.breadcrumbs {
    font-size: 90% !important;
    margin-top: 20px;
}


/* Carousel dots over top of slide */

@media only screen and (min-width: 768px) {
    .bx-wrapper .bx-pager {
        padding: 0;
    }
    .bx-wrapper .bx-controls-auto,
    .bx-wrapper .bx-pager {
        bottom: 20px !important;
    }
    .bx-wrapper .bx-pager.bx-default-pager a {
        background: #dedede;
    }
}

.white-text {
    color: #ffffff !important;
}

.white-text h1,
.white-text h2,
.white-text h3 {
    color: #ffffff !important;
}


/* Home Main Carousel */

.home-main-carousel .fl-slide-text h3 {
    font-size: 3.4em;
    line-height: 1em;
}

.home-main-carousel .fl-slide-0 .fl-slide-cta-button {
    padding-top: 0 !important;
}

.home-main-carousel .fl-slide-cta-button {
    margin-top: 15px;
}

.zone-3 h2,
.zone-3 h3,
.zone-3 p {
    margin: 0 !important;
    padding: 0 !important;
}

.zone-3 {}

.zone-3 h2 {
    font-size: 3.4em;
    line-height: 1em;
    font-weight: 300;
}

.zone-3 h3 {
    font-size: 4.5em;
    font-weight: 700;
    line-height: 1em;
}

.zone-3 p {
    font-size: 1.8em;
    line-height: 1.5em;
    padding-top: 10px !important;
}

.fl-content-slider-navigation .slider-prev {
    left: 0px;
    background: #84A3B8;
    padding: 10px;
}

.fl-content-slider-navigation .slider-next {
    right: 0px;
    background: #84A3B8;
    padding: 10px;
}

@media(max-width:768px) {
	.uabb-image-carousel .slick-prev {
    left: 30px!important;
}
.uabb-image-carousel .slick-next{
	right: 30px!important;
}
.uabb-image-carousel .slick-prev > i, .uabb-image-carousel .slick-next > i {
    padding: 6px!important;
}
    .opening-hrs li span {
        left: auto!important;
        right: 40px!important;

    }
    
    .home-main-carousel {
        margin-top: 0;
    }
    .home-main-carousel.fl-module-content-slider .fl-slide-cta-button {
        text-align: left;
    }
    .home-main-carousel.fl-module-content-slider .fl-slide .fl-slide-text h3 {
        line-height: 1em!important;
        font-size: 2.7em!important;
        margin-top: 50px!important;
    }
    .home-main-carousel .fl-slide-mobile-photo {
        display: none!important;
    }
    .home-main-carousel .fl-slide-content {
        background-color: transparent!important;
    }
    body:not(.home) .home-main-carousel .fl-content-slider .fl-slide-bg-photo {
        position: absolute!important;
        height: 150px;
    }
    .home .fl-content-slider .fl-slide-bg-photo {
        position: absolute;
        bottom: 0
    }
    .home-main-carousel.fl-module-content-slider .fl-slide .fl-slide-content {
        height: 350px;
    }
    .home-main-carousel.fl-module-content-slider .fl-slide img {
        display: block;
        margin: auto;
        max-width: 300px;
    }
    .home-main-carousel.fl-module-content-slider .bx-wrapper {}
    body:not(.home) .home-main-carousel .fl-module-content>* {
        height: 120px;
        overflow: hidden;
    }
    .home-main-carousel .fl-content-slider-navigation {
        display: none;
    }
    .home-main-carousel .bx-wrapper .bx-pager a {
        padding: 5px;
        display: block;
    }
    .home-main-carousel .fl-button {
        font-size: 12px!important;
    }
    .fl-col-small {
        max-width: 700px;
    }
}


/* Nav 1 Mega Menu */

.fl-page-nav-right .fl-page-nav-wrap a,
.fl-page-nav-right .fl-page-nav-wrap a * {
    color: #fff !important;
}

.fl-page-nav-wrap .navbar-nav>li>a {
    font-weight: 400;
    color: #fff !important;
    font-size: 13px;
    text-transform: uppercase;
}

.fl-page-nav-wrap .navbar-nav>li>ul.sub-menu {
    border: none;
}

.fl-page-nav-wrap .navbar-nav>li>ul.sub-menu a {
    color: #fff !important;
}

.yawp_wim_title {
    display: none;
}

@media screen and (min-width: 992px) {
    ul.navbar-nav li.mega-menu>ul.sub-menu {
        border: none;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li {
        width: 18.5%;
        float: left;
        border-color: white;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li a {
        padding: 5px;
        color: #fff !important;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li.menu-item-type-yawp_wim {
        width: 26%;
        margin-bottom: -70px;
        clear: right;
    }
}

@media screen and (max-width: 991px) {
    ul.navbar-nav li.mega-menu>ul.sub-menu li>ul.sub-menu {
        display: none;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li:nth-child(4) {
        display: none;
    }
    .fl-page-nav-right .fl-page-nav-cart {
        display: none;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li {
        width: 50%;
        display: block;
        float: left;
        border-color: transparent;
    }
}

@media (min-width: 992px) {
    .fl-page-nav-right .fl-page-nav ul.navbar-nav {
        float: none !important;
        margin-left: 0;
    }
    ul.navbar-nav>li:not(.mega-menu)>ul.sub-menu {
        margin-left: -60%;
        text-align: center;
    }
    ul.navbar-nav>li:not(.mega-menu)>ul.sub-menu>li {
        border-bottom: 1px solid #EEEEEE;
    }
    ul.navbar-nav>li:not(.mega-menu)>ul.sub-menu>li:last-child {
        border: 0px;
    }
}

@media screen and (max-width: 768px) {
    ul.navbar-nav li.mega-menu>ul.sub-menu>li {
        width: 100%;
        float: none;
        display: block;
        border-color: #e6e6e6;
    }
}

.fl-page-nav-right .fl-page-nav-search {
    float: right;
    position: relative;
}

.fl-page-nav-right .fl-page-nav-cart {
    float: right;
    position: relative;
    font-size: 20px;
    padding: 8px 15px 8px 60px;
}

.fl-page-nav-search form input.fl-search-input {
    background-color: #fff;
    border-color: #274f6b;
    color: #263850 !important;
}

.fl-page-nav-search form {
    border-top: 0px solid #a1c5e5;
    display: none;
    padding: 40px;
    position: absolute;
    right: -40px;
    top: 64px;
    width: 1040px;
}

@media screen and (max-width: 1099px) {
    .fl-page-nav-search form {
        background-color: #767676;
        border-top: 0px solid #a1c5e5;
        display: none;
        padding: 40px;
        position: absolute;
        right: 0;
        top: 65px;
        width: 100%;
    }
}


/* Slick slider */

.slick-slide {
    opacity: .4;
}

.slick-center {
    opacity: 1;
}

.wpsisac-slick-carousal button.slick-prev,
.wpsisac-slick-carousal button.slick-prev:hover,
.wpsisac-slick-carousal button.slick-prev:focus {
    background: rgba(132, 163, 184, 0.7) url(images/left.png) center center no-repeat !important;
    background-size: 19px 28px !important;
    outline: none !important;
}

.wpsisac-slick-carousal button.slick-next,
.wpsisac-slick-carousal button.slick-next:hover,
.wpsisac-slick-carousal button.slick-next:focus {
    background: rgba(132, 163, 184, 0.7) url(images/right.png) center center no-repeat !important;
    background-size: 19px 28px !important;
    outline: none !important;
}

.wpsisac-slick-carousal button.slick-arrow {
    width: 51px;
}

.wpsisac-slick-carousal.design-6 .slick-dots {
    left: 15px !important;
    right: 15px;
    text-align: center;
    bottom: -40px !important;
}

.slick-dots li button {
    background: #fff !important;
    margin: 0px !important;
    padding: 0px !important;
    border: none !important;
    border-radius: 50% !important;
    width: 13px !important;
    height: 13px !important;
}

.slick-image-slide-wrap {
    position: relative;
}

.caption-content {
    float: left;
    margin-top: -60px;
    position: relative;
    z-index: 500;
    margin-left: 30px;
    font-size: 16px;
    color: #fff;
}


/* Tabs 1 */

.tabs-1 .fl-tabs-panels {
    border-color: transparent !important;
}

.tabs-1 .fl-tabs-label {
    border-color: transparent !important;
    width: 25%;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #DEDDDD;
    font-weight: 700;
}

.fl-tabs-label.fl-tab-active {
    border-color: transparent !important;
    color: #767676;
    font-weight: 700;
}

.fl-tabs-panel-content .row {
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -30px;
}

.tabs-1 .fl-row-fixed-width,
.tabs-1 .fl-row-content-wrap {
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.tabs-1 .fl-tabs-panel-content {
    padding: 0;
    margin: 0;
    width: 100%;
}

.tabs-1 .fl-tabs-panels,
.tabs-1 .fl-tabs-panel {
    border: none;
}

.fl-tabs-labels .fl-tabs-label {
    outline: none !important;
}


/* Tabs */

.tabs-2 .fl-tabs-panels {
    border-color: transparent !important;
}

.tabs-2 .fl-tabs-label {
    border-color: transparent !important;
    text-transform: uppercase;
    color: #DEDDDD;
    font-weight: 700;
}

.fl-tabs-label.fl-tab-active {
    border-color: transparent !important;
    color: #767676;
    font-weight: 700;
}

.tabs-2 .fl-tabs-labels {
    max-width: 82%;
    margin: 0 auto;
    text-align: center;
}

.tabs-3 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.tabs-3 .fl-tabs-label {
    max-width: 33%;
    margin: 0 auto;
    text-align: center;
}

.tabs-3.four .fl-tabs-label {
    max-width: 25%;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .tabs-3 .fl-tabs-label {
        max-width: 100%;
        white-space: nowrap;
    }
}

.tabs-3 .fl-tabs-labels {
    margin-bottom: 20px
}

.tabs-3 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 70%;
    position: absolute;
    left: 15%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #BCA648;
}

.tabs-3 .fl-tabs-labels .fl-tabs-label {
    display: table;
    width: 100%;
    border-radius: 100%;
    padding-bottom: 20px;
}

.tabs-3 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-3 .fl-tabs-labels {
    max-width: 970px !important;
    margin: 0 auto;
}

.tabs-3 .fl-tabs-panel-content {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #F9F9F9 !important;
}

.tabs-3 .fl-tabs-panel-content .row {
    max-width: 970px;
    margin: 0 auto;
    padding: 30px;
}

.tabs-4 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.tabs-4 .fl-tabs-label {
    max-width: 25%;
    margin: 0 auto;
    text-align: center;
}

.tabs-4 .fl-tabs-labels {
    margin-bottom: 20px
}

.tabs-4 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 90%;
    position: absolute;
    left: 5%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #BCA648;
}

.tabs-4 .fl-tabs-labels .fl-tabs-label {
    display: table;
    width: 100%;
    border-radius: 100%;
}

.tabs-4 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-products h2 {
    font-size: 1.5em;
}


/* Category Boxes */

.cat-boxes a {
    font-weight: 400 !important;
}


/* Carousel 2 */

.carousel-2 .fl-content-slider-navigation path {
    fill: #767676;
}

.carousel-2 .bx-wrapper .bx-pager.bx-default-pager a.active,
.carousel-2 .bx-wrapper .bx-pager.bx-default-pager a:focus,
.carousel-2 .bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: #767676;
}


/* lightbox */

.fl-button-lightbox-wrap .mfp-content {
    background: transparent !important;
}

.mfp-wrap.fl-button-lightbox-wrap .mfp-close,
.mfp-wrap.fl-button-lightbox-wrap .mfp-close:hover {
    color: #fff!important;
    right: -4px;
    top: -10px!important;
}

.mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.0);
    background: transparent !important;
}


/* Mega Menu ShortCode */

header .fl-row-content {
    position: relative;
}


/* Image Gallery Modal */


/* .active-gallery-modal {
    position:absolute;
    z-index:1;
    background-color:white;
    width:100%;
}

.active-gallery-modal .fl-row-content-wrap {
    width:1200px;
    max-width:100%;
    margin:auto;
}

.active-gallery-modal .content {
    display:table;
    width:100%;
    position:relative;
}
.active-gallery-modal .content>* {
    display:table-cell;
    float:none;
}

.active-gallery-modal .product-box {
    padding:100px 50px;
    position:static;
}

.active-gallery-modal .collection {
    text-transform: uppercase;
    font-size:14px;
}

.active-gallery-modal .fl-post-title {
    font-size:25px;
    font-weight:900;
    text-transform: uppercase;
}

.active-gallery-modal .contact_us{
    background-color:transparent!important;
}
.active-gallery-modal .contact_us span{
    color:#bca648!important;
}
.active-gallery-modal .contact_us:hover span{
    color:white!important;
}

.active-gallery-modal .col_swatch {
    background-size:cover;

}

.active-gallery-modal .close_modal {
    position:absolute;
    color:#554e46;
    font-size:30px;
    top:0px;
    right:100px;
} */

.gallery-modal {
    display: none;
}

.open-gallery-modal {
    cursor: pointer;
}


/* IMage Galleries */

.fl-post-grid-gallery {
    width: 300px;
    height: 300px;
}

.gallery-menu ul li a:hover {
    text-decoration: none;
}

@media(min-width:1024px) {
    .sc_mega_menu ul.navbar-nav>li.menu-item-has-children>a::before {
        content: '';
        position: absolute;
        right: -5px;
        top: 50%;
        z-index: 1;
        display: block;
        width: 9px;
        height: 9px;
        margin: -5px 2px 0 0;
        border-right: 2px solid;
        border-bottom: 2px solid;
        -webkit-transform-origin: right bottom;
        -ms-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: translateX( -5px) rotate( 45deg);
        -ms-transform: translateX( -5px) rotate( 45deg);
        transform: translateX( -5px) rotate( 45deg);
        border-color: #767676;
    }
}

.sc_mega_menu .navbar-nav>li>a {
    padding: 15px 13px;
}

.sc_mega_menu ul.sub-menu li li a {
    margin: 0px;
}

.sc_mega_menu .fl-page-nav-wrap {
    border: 0px;
}

.textwidget a.acc_banner_link {
    padding: 0 !important;
}

@media(max-width:1024px) {
    .sc_mega_menu .navbar-nav>li>a {
        padding: 15px 8px;
    }
}

@media(max-width:900px) {
    .sc_mega_menu .navbar-nav>li>a {
        padding: 15px 0px;
    }
}


/* Mega Menu Full width */

@media (min-width: 768px) {
    ul.navbar-nav li.mega-menu ul.sub-menu {
        border-top: 5px solid #BBA558;
    }
    /*This is just removing some default styles(not required)
    .fl-page-nav UL.sub-menu
    {
        padding: 10px 0;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 0;
    }*/
    .fl-page-nav ul.sub-menu {
        background-color: #fff !important;
    }
    .fl-page-nav-wrap .navbar-nav>li>ul.sub-menu a {
        color: #263850 !important;
    }
    ul.sub-menu>li {
        border-bottom: none !important;
        text-align: left;
    }
    .navbar-nav>li.menu-item-has-children:hover::before {
        content: "▲";
        color: #fff;
        position: absolute;
        z-index: 1001;
        bottom: -5px;
        left: 45%;
        text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.05);
        -webkit-transform: scale(1.5, 1);
        /* Safari and Chrome */
        -moz-transform: scale(1.5, 1);
        /* Firefox */
        -ms-transform: scale(1.5, 1);
        /* IE 9 */
        -o-transform: scale(1.5, 1);
        /* Opera */
        transform: scale(1.5, 1);
        /* W3C */
    }
    UL.navbar-nav LI.mega-menu>UL.sub-menu:after {
        content: "";
        display: block;
        position: absolute;
        left: auto;
        top: -1px;
        height: 100%;
        width: auto;
        transform: translateX(-50%);
        z-index: -1;
        box-sizing: border-box;
        /*These styles are replacing the BB style that are being over written above (not required)*/
        border-top: 1px solid #DEDEDE;
        /*+box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);*/
        -moz-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
        background-color: #fff;
    }
    .sc_mega_menu {
        margin-top: 10px;
    }
    .sc_mega_menu .mega-menu .sub-menu {
        left: 0px!important;
        position: relative;
    }
    .sc_mega_menu .navbar-nav>li.menu-item-has-children:hover::before {
        content: "▲";
        color: #BBA558;
        position: absolute;
        z-index: 1001;
        bottom: -5px;
        margin-left: 40%;
        text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.05);
        -webkit-transform: scale(1.5, 1);
        /* Safari and Chrome */
        -moz-transform: scale(1.5, 1);
        /* Firefox */
        -ms-transform: scale(1.5, 1);
        /* IE 9 */
        -o-transform: scale(1.5, 1);
        /* Opera */
        transform: scale(1.5, 1);
        /* W3C */
    }
    .sc_mega_menu .navbar-nav>li.mega-menu.menu-item-has-children:hover::before {
        text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.1);
    }
    .sc_mega_menu .navbar-nav>li.menu-item-23.menu-item-has-children:hover::before {
        margin-left: 80px;
    }
    .sc_mega_menu ul.navbar-nav li.mega-menu>ul.sub-menu>li:nth-child(3) {
        border: 0px;
    }
    .sc_mega_menu ul.navbar-nav li.mega-menu>ul.sub-menu>li:nth-child(4) {
        margin-bottom: -55px;
        border: 0px;
        padding: 0 !important;
    }
    .sc_mega_menu ul.navbar-nav>li.menu-item-has-children>a::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 50px;
    }
}

@media (max-width: 768px) {
    .active-gallery-modal .content {
        display: block;
    }
    .active-gallery-modal .content>* {
        display: block;
    }
    .active-gallery-modal .col_swatch {
        width: 100%;
        height: 100vw;
        max-height: 200px;
    }
    .active-gallery-modal .close_modal {
        color: white;
        right: 10px;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    }
    .active-gallery-modal .product-box {
        padding: 30px 0px;
    }
    .header-boxed-1 .fl-slide-content-wrap {
        padding: 0px;
    }
}


/* Web Forms */

.web-form input {
    border-radius: 0 !important;
}

.web-form .gform_body label {
    font-weight: 400 !important;
    color: #fff !important;
}

.web-form .gform_footer {
    text-align: center !important;
}

.web-form .button {
    padding: 10px 30px;
    color: #fff!important;
    border: none !important;
}

.web-form .gform_wrapper div.validation_error {
    color: #790000 !important;
}

.web-form .textarea {
    border-radius: 0 !important;
    max-height: 120px;
}

.web-form select {
    padding: 5px !important;
}

.web-form .ginput_container_time select {
    padding: 0 !important;
}

body .gform_wrapper .gform_body .gform_fields .gfield select {
    border: 1px solid #e6e6e6;
    background-color: #FCFCFC!important;
}

.ui-datepicker-title {
    color: #333;
}

.web-form button,
.web-form input[type=button],
.web-form input[type=submit] {
    background: #263850 !important;
    border: none;
}

.web-form button:hover,
.web-form input[type=button]:hover,
.web-form input[type=submit]:hover {
    background: #263850 !important;
    border: none;
}

.web-form select {
    padding: 8px !important;
}

.web-form a {
    color: #152B3A !important;
    font-weight: 700 !important;
}

.form-terms label.gfield_label {
    display: none !important;
}

.msg-terms {
    font-size: 85%;
}

@media (max-width: 768px) {
    .gform_wrapper input.large,
    .gform_wrapper input.medium,
    .gform_wrapper input.small,
    .gform_wrapper select.large,
    .gform_wrapper select.medium,
    .gform_wrapper select.small {
        max-width: 95%;
    }
}


/* 500 Coupon Page */

.coupon h2 {
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 300;
}

.coupon h1 {
    font-size: 4.5em;
    font-weight: 700;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

.coupon h3 {}

.coupon h4 {
    font-size: 1.2em;
    font-weight: normal;
}


/* Default Form Page */

.default-form h2 {
    font-size: 2.8em;
    line-height: 1em;
    font-weight: 300;
}

.default-form h1 {
    font-size: 3.5em;
    font-weight: 700;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

.default-form h3 {}

.default-form h4 {
    font-size: 1.2em;
    font-weight: normal;
}


/*Tabs Grey */


/* .tabs-grey .fl-tabs-panels {background-color: #FBFBFB !important;} */


/* Window Coverings */

.window-categories {
    font-size: 90%;
}

.window-categories h4 {
    font-size: 1.2em !important;
}

.window-categories a {
    font-weight: 700;
    font-size: 90%;
}


/*Project Gallery */

.project-gallery .fl-photo-caption-below {
    text-align: left !important;
}


/* Reviews */

.reviews h4 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.reviews img {
    margin: 0;
    padding: 0 0 5px 0;
}


/* product row */

.product-row h4,
.product-row h5 {
    font-weight: 300;
    text-transform: uppercase;
}

.product-row h3 {
    text-transform: uppercase;
}


/* Product Grid */

.swatch-thumb {
    max-height: 238px;
    overflow: hidden;
}

.swatch-thumb img {
    width: 100%;
    height: auto;
}

.product-grid.swatch {
    text-align: center;
}

.product-grid.rooms {
    text-align: left;
}

.product-grid.featured {
    text-align: center;
}

.product-grid.swatch h2 {
    font-weight: 700;
    margin: 0 0 10px 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.product-grid.swatch h4 {
    font-size: 10px;
    margin: 5px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    color: #929292;
}

.product-grid.rooms h2 {
    font-weight: 700;
    margin: 10px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.product-grid.rooms h4 {
    font-size: 10px;
    margin: 5px 0 5px 0;
    padding: 0;
    text-transform: uppercase;
    color: #929292;
}

.strike-price {
    color: #929292;
    text-decoration: line-through !important;
    margin-right: 10px;
}

.sale-price {
    font-weight: 700;
    color: #212121;
}

.product-grid.featured h2 {
    font-weight: 700;
    margin: 0 0 15px 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.product-grid.featured h4 {
    font-size: 10px;
    margin: 10px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    color: #929292;
}

.product-grid .fl-button {
    margin-bottom: 10px;
}

.product-grid .fl-button-text {
    font-size: 12px;
}

.product-grid a {
    text-decoration: none;
    font-size: 13px;
}

.product-grid a.link {
    color: #929292;
}

.product-grid a.link:hover {
    text-decoration: underline;
    color: #929292;
}

.product-grid a.greylink {
    color: #908c7b;
}

.product-grid a.greylink:hover {
    text-decoration: underline;
    color: #908c7b;
}

@media (max-width: 991px) {
    .searchBarTop .fl-page-nav-search {
        display: block !important;
        position: static;
    }
    .searchBarTop .fl-page-nav-search .fa-search {
        position: static;
    }
    .fl-page-nav-search form {
        top: 100%;
    }
    .navbar-toggle {
        position: static;
        padding: 0;
        margin: 0;
    }
    .fl-page-header-logo-col {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-nav .navbar-toggle {
        position: static;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile.fl-page-nav-centered-inline-logo .fl-page-header-logo {
        margin: 0;
    }
}

@media (max-width: 767px) {
    .product-grid.swatch .row>:nth-child(2n+1) {
        clear: left;
    }
    .fl-page-nav-toggle-icon .fl-page-nav .navbar-toggle {
        position: static;
    }
    .home-main-carousel.fl-module-content-slider .fl-slide .fl-slide-text {
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* .product-grid.swatch .row>:nth-child(3n+1) {
        clear:left;
    } */
}

@media (min-width: 992px) {
    /* .product-grid.swatch .row>:nth-child(4n+1) {
        clear:left;
    } */
}

@media (min-width: 992px) {
    /* .product-grid.rooms .row>:nth-child(4n+4) {
        clear:left !important;
    } */
}

@media (min-width: 768px) and (max-width: 991px) {
    /* .product-grid.rooms .row>:nth-child(2n+1) {
        clear:left;
    } */
}

.product-grid .swatch-thumb img {
    width: 100%;
    height: auto;
}

.product-grid .fl-post-grid-post {
    margin-bottom: 40px;
}

.facetwp-facet select {
    width: 100%;
    padding: 10px;
}

.facetwp-selections ul li {
    font-size: 16px;
}

.facetwp-per-page {
    text-align: right !important;
}

.facetwp-per-page select {
    padding: 5px;
}

.facetwp-counts {}

.facetwp-pager {
    float: right;
}

.bottom-pager .facetwp-pager {
    float: none;
    text-align: center;
}

.facetwp-pager span.pager-text {
    font-size: 14px !important;
    padding-right: 10px;
}

.facetwp-pager span.pager-arrow {
    font-size: 28px;
}

.facetwp-pager a {
    color: #929292;
    vertical-align: middle;
}

.facetwp-pager a:hover {
    text-decoration: none;
}

.facetwp-page {
    display: inline-block;
    padding: 0px 4px;
    margin-right: 6px;
    cursor: pointer;
}

.facet_filters .facetwp-facet {
    margin-bottom: 25px;
}

.facet_filters strong {
    font-size: 16px;
    color: #630A0A;
    display: block;
    margin: 0 0 10px;
}

.facet-inner {
    max-height: 360px;
    overflow: auto;
}

.product-count {
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.9);
}

.product-box {
    text-align: left;
    padding: 2rem 2rem 3.5rem 2rem;
}

.product-box a.fl-button {
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 180px !important;
    display: block;
    text-align: center;
}

.product-box a.fl-button:hover {
    text-decoration: none;
}

.product-box a.fl-button.btn-white {
    background-color: transparent !important;
    border-color: #554E46 !important;
}

.product-colors ul {
    margin: 15px 0 0 0;
    padding: 0;
    list-style: none;
}

.product-colors ul li {
    display: inline-block;
    text-align: left;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.product-colors ul li.found {
    font-size: 5rem;
    padding-right: 15px;
    font-weight: 300;
}

.product-atts ul {
    margin: 40px 0 0 0;
    padding: 0;
    color: #008c8c;
}

.product-atts ul li {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 20px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.product-box h1 {
    margin: 0 0 0 0;
    padding: 0;
    text-transform: none;
    font-weight: 700;
}

.product-box h2 {
    margin: 0 0 0 0;
    padding: 0;
    font-size: 1.8rem;
}

.product-atts a.fl-button {
    padding: 10px 40px;
}

.product-swatch {
    text-align: center;
}

.product-swatch .img-responsive {
    background-size: cover;
    background-position: center;
}

.product-swatch .img-responsive img {
    visibility: hidden;
}

.product-variations {
    margin: 80px 0 50px 0;
}

.product-variations img {
    width: 100%;
    height: auto;
}

.product-attributes {
    text-transform: capitalize;
    margin-bottom: 80px;
    margin-top: 60px;
}

img.product-logo {
    max-width: 140px;
    height: auto;
    margin-bottom: 15px;
}

.color-box {
    margin-bottom: 30px;
    line-height: normal;
    min-height: 180px;
}

.color-box small {
    font-size: 80%;
}

.product-brand {
    text-transform: uppercase;
    font-size: 0.85em;
    margin-bottom: 0;
    min-height: 20px;
    letter-spacing: 2px;
}

.faceted_results {
    margin-top: 20px;
}


/* TOGGLE BOX BOTTOM */

.fr_toggle_box {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
}

.fr_toggle_box .bg {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.fr_toggle_box .box_content {
    background-color: white;
    width: 100%;
    z-index: 1;
    position: fixed;
    bottom: 0px;
    display: none;
}

.fr_toggle_box .handle {
    background-color: #383838;
    padding: 20px 30px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: -66px;
    cursor: pointer;
}

.fr_toggle_box.active .handle i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.fr_toggle_box .box_content table {
    width: 100%;
    table-layout: fixed;
}

.fr_toggle_box .padding {
    padding: 40px;
}

.fr_toggle_box .box {
    width: 100%;
    height: 100%;
    min-height: 275px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.fr_toggle_box .box_white {
    border: 0px solid #212121;
    color: #212121;
}

.fr_toggle_box .box_red {
    background-color: #C92830;
    color: white;
}

.fr_toggle_box .box * {
    color: inherit;
}

.fr_toggle_box td {
    padding: 0px 20px;
}

[data-fr-link] {
    cursor: pointer;
}

.fr_toggle_box .fixed_bottom {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.fr_toggle_box .fl-button {
    background: #cc252a;
    font-size: 13px;
    line-height: 15px;
    padding: 10px 20px;
    color: white;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    margin-bottom: 10px;
    cursor: pointer;
}

.fr_toggle_box .box_red .fl-button {
    background-color: white!important;
    color: #cc252a!important;
}

.fr_toggle_box .text {
    padding: 40px 0px 0px;
}

.fr_toggle_box .text * {
    margin-top: 0px;
    margin-bottom: 0px;
}

.fr_toggle_box .text h2 {
    font-size: 45px;
}

.fr_toggle_box .text p {
    margin-top: 10px;
}

@media(max-width:1024px) {
    .fr_toggle_box {
        display: none;
    }
}

.toggle-image-thumbnails {
    position: relative;
    bottom: 20px;
    left: 40px;
}


/* .toggle-image-thumbnails a {
    border:3px solid white;
    width:50px;
    height:50px;
    display:block;
    float:left;
    margin-right:20px;
    background-size:cover;
    background-position: center;
    transition:All 0.5s ease;
    -webkit-transition:All 0.5s ease;
    -moz-transition:All 0.5s ease;
    -o-transition:All 0.5s ease;
} */

.toggle-image-thumbnails a.arrow.next {
    right: -10px;
}

.toggle-image-thumbnails a.arrow.prev {
    left: -5px;
}

.toggle-image-thumbnails a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.fr-slider {
    position: relative;
}

.fr-slider .arrow {
    position: absolute;
    font-size: 30px;
    color: #212121;
    z-index: 2;
    height: 130px;
    line-height: 130px;
    text-align: center;
    width: 30px;
    float: left;
}

.fr-slider .arrow.prev {
    left: -10px;
}

.fr-slider .arrow.next {
    right: -10px;
}

.fr-slider .slides {
    margin: 0px 10px;
}

.fr-slider .slide {
    padding: 0px 7px;
}

@media(max-width:768px) {
    .fr-slider .arrow {
        height: 80px;
        line-height: 80px;
    }
}


/* RABY */

.fl-social-icons {
    float: right;
    margin-top: -60px;
}

.fl-social-icons a {
    color: #84A3B8;
}

.fl-social-icons a:hover {
    color: #84A3B8;
}

@media (max-width: 768px) {
    .fl-social-icons {
        float: none;
        clear: both;
        margin: 0 auto;
    }
}

.cat-boxes .fl-row-content {
    max-width: 970px;
    margin: 0 auto;
}

ul#menu-top-bar-menu li a {
    text-transform: uppercase;
    font-size: 90%;
}

@media (max-width: 768px) {
    ul#menu-top-bar-menu {
        display: none;
    }
}

.coupon-form-box h3 {
    font-size: 1em !important;
    color: #263850;
}

.fl-page-footer-widgets {
    border: none;
    background-color: #152B3A;
    /* color: #000000; */
}

ul#menu-footer-menu-1 {
    margin-left: -20px;
}

ul#menu-footer-menu-1 li {
    display: inline-block;
    padding: 5px 20px;
}

ul#menu-footer-menu-1 li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.9em;
}

.fl-page-footer-widgets .fl-widget {
    margin-bottom: 30px;
}

.fl-page-footer {
    font-size: 80%;
}

.fl-page-footer .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 5px;
}

.fl-page-footer .fl-page-footer-nav {
    margin: -10px -15px 10px;
}

footer .icon-box h4 {
    color: #C4A06E !important;
}

footer .icon-box i {
    color: #84A3B8 !important;
}

footer .icon-box a h4:hover {
    color: rgba(196, 160, 110, 0.85) !important;
}

footer .icon-box a:hover {
    text-decoration: none !important;
}


/* modal */

.modal-content input[type=submit] {
    color: #fff !important;
    font-size: 16px;
    line-height: 18px;
    padding: 14px 28px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background: #bba54f;
    border: 1px solid #af9943;
}

.modal-content input[type=submit]:hover {
    color: #fff !important;
    font-size: 14px;
    line-height: 18px;
    padding: 14px 28px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background: #a8933f;
    border: 1px solid #af9943;
}

button.modal-button {
    color: #fff !important;
    font-size: 16px;
    line-height: 18px;
    padding: 14px 28px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background: #bba54f;
    border: 1px solid #af9943;
}

button.modal-button:hover {
    color: #fff !important;
    font-size: 16px;
    line-height: 18px;
    padding: 14px 28px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background: #af9943;
    border: 1px solid #af9943;
}

.fl-tabs-label {
    color: #949494 !important;
}

.fl-tabs-label.fl-tab-active {
    color: #222222 !important;
}

.navbar .nav .menu-item-has-children>a:after,
.fa-search:before{
    font-family: FontAwesome !important;

}
/* 

.fl-page-nav-centered-inline-logo .fl-page-nav ul.navbar-nav>li.menu-item-has-children > a:after {
    content: "\f107";
    font-size: 18px;
    margin-left: 5px;
    font-weight: bold;
    font-family: FontAwesome !important;
    margin-top: -2px;
    float: right;
} */


/*  Responsive media  */

@media(max-width:992px) {
    .fl-social-icons {
        margin: 0;
        float: none;
        padding: 0 0 20px;
        text-align: center;
    }
    .fl-node-5c09da8ec2d39.fl-module-heading .fl-heading,
    .fl-node-5c09d9aa78b22.fl-module-heading .fl-heading {
        text-align: center;
        line-height: 1;
    }
    .fl-node-5c09da8ec2d39>.fl-module-content {
        margin: 0;
    }
    .plpAlignTitle {
        position: absolute;
        top: 28px;
        right: 0;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav .navbar-toggle {
        position: static;
    }
    .navbar-toggle {
        display: block;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-header-logo {
        margin: 0;
    }
    ul#menu-footer-menu-1 li {
        padding: 5px 15px;
    }
    ul#menu-footer-menu-1 {
        margin: 0;
    }
    .pageHeader .fl-module-heading .fl-heading {
        text-align: center;
    }
    img.fl-photo-img.wp-image-72825.size-full,
    img.fl-photo-img.wp-image-997.size-full {
        width: 100%;
    }
    .fl-node-58ec1c68d2d2c .fl-col-content.fl-node-content {
        display: flex;
    }
    .navbar-nav>li.menu-item-has-children:hover::before {
        display: none;
    }
    .fl-node-5c0e94279d262 .fl-photo-align-right {
        text-align: center;
    }
    .reverseCol .fl-col-group-equal-height {
        display: flex;
        flex-direction: column-reverse;
    }
    .product article.fl-post .fl-post-content>.container {
        padding: 0;
    }
    .toggle-image-thumbnails {
        position: static;
        margin: 10px 0;
    }
    .toggle-image-thumbnails a {
        margin: 5px;
        display: inline-block;
        float: none;
    }
    .coupon h1 {
        font-size: 3.2em;
    }
}

@media(max-width:567px) {
    .plpAlignTitle {
        position: static;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-nav ul.sub-menu li {
        background: #264458;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-nav ul.sub-menu ul.sub-menu li {
        background: #3c5465;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-nav .navbar-toggle {
        top: 18px;
    }
    ul#menu-footer-menu-1 {
        margin: 0;
    }
    ul#menu-footer-menu-1 li {
        text-align: center;
        display: block;
    }
    .tabs-1 .fl-tabs-label {
        width: 100%;
    }
    .fl-social-icons {
        text-align: center;
        padding: 10px 0;
    }
    /* iphone 6/7/ */
    .fl-row-bg-overlay .fl-module-heading .fl-heading {
        font-size: 20px !important;
        text-align: center;
    }
    .fl-node-5bf45b3f75391>.fl-row-content-wrap {
        padding-top: 0;
    }
    .fr-slider .arrow.next {
        right: -10px;
    }
    .fr-slider .arrow.prev {
        left: -10px;
    }
    .home-main-carousel.fl-module-content-slider .fl-slide img {
        max-width: 100%;
    }
    /* detail page  */
    .toggle-image-thumbnails {
        position: static;
    }
    .toggle-image-thumbnails a {
        margin: 5px;
    }
    .product-box {
        clear: both;
        text-align: center;
    }
    .color-box {
        min-height: auto;
    }
    .product-variations {
        margin: 0;
    }
    .product-attributes {
        margin-top: 0;
    }
    .product-box a.fl-button {
        width: auto !important;
    }
    .active-gallery-modal a.view_more.fl-button,
    .active-gallery-modal .fl-button {
        margin: auto;
    }
}

button.mfp-close:hover {
    color: #ece5e5;
}

.fts-twitter-div {
    padding-left: 20px!important;
    padding-right: 20px!important;
}

.fts-jal-single-fb-post {
    padding: 15px 20px 7px 20px!important;
}

.fts-jal-fb-header {
    padding: 20px;
}